<article>
    <div class="avka">
        <img src="img/rep/img.jpg" align="left" width="350" height="350" alt="">
    </div>
</article>

<article>
    <div class="content">
        <h2>Dima</h2>
        <div class="spisok_cont">
            <p>
                Опытный репетитор по математике и физике в Казани для школьников и не только
                <br>Ученики со 2 по 10 класс. Готовлю к ГИА.
                <br>Активно занимаюсь с учащимися в летний период , <br>а так же с сиротами бесплатно ,с детьми из многодетных и мало обеспеченных семей с большой скидкой.
                <br>Методист. Помогаю очень слабым в учебе детям освоить предмет на отлично,<br>прививаю навыки самостоятельного обучения и глубокий интерес к предмету.
            </p>
        </div>

        <div class="info">
            <ul>
                <li><b>Стоимость занятия:</b> 1000 руб. / 60 мин</li>
                <li><b>Предметы:</b> Математика, Физика</li>
                <li><b>Город:</b> Казань</li>
                <li><b>Ближайшая станция метро:</b> Аметьево</li>
                <li><b>Выезд на дом:</b> нет</li>
                <li><b>Статус:</b> Частный преподаватель</li>
                <li><b>Образование:</b> МГЗПИ им. Крупской, физ.-мат., 1985 г.</li>
            </ul>
        </div>
</article>

<div class="svz">
    <h1 class="header-through"><span>связаться с репетитором</span></h1></section><form action="/include1/addpost.php" method="post" id="s_faddpost">
        <table style="font-size: 10pt; color: #292929;">
            <tr><td width="150"></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr>
                <td align="right"><div style="margin-top: -17px;">Имя<font color="red">*</font>:&nbsp;</div></td>
                <td valign="top" colspan="5">

                    <div class="search-box_white3">
                        <div>
                            <input type="text" name="name" maxlength="49">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="right"><div style="margin-top: -17px;">Тел.<font color="red">*</font>:&nbsp;</div></td>
                <td valign="top" colspan="5">

                    <div class="search-box_white3" style="font-size: 8pt;">
                        <div class="" id="s_phone__error">
                            <input type="text" name="phone" id="s_phone" maxlength="23" style="width: 110px;">
                            <style>
                                .s_phone__error {
                                    border: 1px solid red !important;
                                }
                            </style>
                        </div>
                    </div>

                </td>

            </tr>
        </table>
        <table class="form_share">
            <tr><td width=150></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr>
                <td align="right"><div style="margin-top: -8px;">Предмет:&nbsp;</div></td>
                <td class="select-list" valign="top">
                    <select name="id_lern" class="postform">
                        <option value="1">Математика</option>
                        <option value=110>ArchiCAD</option>
                        <option value=43>AutoCAD</option>
                        <option value=109>Corel Draw</option>
                        <option value=108>Photoshop</option>
                        <option value=169>Pole dance</option>
                        <option value=111>Айкидо</option>
                        <option value=95>Аккордеон</option>
                        <option value=148>Акробатика</option>
                        <option value=91>Актерское мастерство</option>
                        <option value=92>Альт</option>
                        <option value=73>Аналитическая геометрия</option>
                        <option value=48>Анатомия</option>
                        <option value=2>Английский язык</option>
                        <option value=22>Арабский язык</option>
                        <option value=144>Армянский язык</option>
                        <option value=160>Арфа</option>
                        <option value=88>Астрономия</option>
                        <option value=70>Аэробика</option>
                        <option value=130>Бадминтон</option>
                        <option value=161>Балалайка</option>
                        <option value=154>Бальные танцы</option>
                        <option value=159>Баян</option>
                        <option value=168>Белорусский язык</option>
                        <option value=136>Бильярд</option>
                        <option value=7>Биология</option>
                        <option value=162>Блок-флейта</option>
                        <option value=149>Бодибилдинг</option>
                        <option value=114>Бокс</option>
                        <option value=81>Болгарский язык</option>
                        <option value=128>Большой теннис</option>
                        <option value=113>Борьба</option>
                        <option value=102>Бухгалтерский учёт</option>
                        <option value=150>Велоспорт</option>
                        <option value=74>Венгерский язык</option>
                        <option value=98>Виолончель</option>
                        <option value=50>Вокал</option>
                        <option value=61>Восточные танцы</option>
                        <option value=155>Вьетнамский язык</option>
                        <option value=8>География</option>
                        <option value=166>Геология</option>
                        <option value=142>Гимнастика</option>
                        <option value=53>Гитара</option>
                        <option value=145>Голландский язык</option>
                        <option value=133>Горные лыжи</option>
                        <option value=31>Греческий язык</option>
                        <option value=115>Дзюдо</option>
                        <option value=38>Дифференциальные уравнения и УРЧП</option>
                        <option value=163>Домра</option>
                        <option value=158>Древнегреческий язык</option>
                        <option value=28>Другие предметы</option>
                        <option value=100>Журналистика</option>
                        <option value=75>Иврит</option>
                        <option value=156>Индонезийский язык</option>
                        <option value=9>Информатика</option>
                        <option value=17>Испанский язык</option>
                        <option value=10>История</option>
                        <option value=16>Итальянский язык</option>
                        <option value=65>Йога</option>
                        <option value=157>Казахский язык</option>
                        <option value=112>Карате</option>
                        <option value=118>Кикбоксинг</option>
                        <option value=20>Китайский язык</option>
                        <option value=94>Кларнет</option>
                        <option value=105>Комплексный анализ</option>
                        <option value=42>Компьютерная графика</option>
                        <option value=77>Корейский язык</option>
                        <option value=99>Культура речи</option>
                        <option value=45>Культурология</option>
                        <option value=66>Латиноамериканские танцы</option>
                        <option value=33>Латынь</option>
                        <option value=87>Латышский язык</option>
                        <option value=137>Легкая атлетика</option>
                        <option value=37>Линейной алгебра</option>
                        <option value=12>Литература</option>
                        <option value=83>Литовский язык</option>
                        <option value=47>Логика</option>
                        <option value=25>Логопед</option>
                        <option value=151>ЛФК</option>
                        <option value=134>Лыжи</option>
                        <option value=171>Маркетинг</option>
                        <option value=1>Математика</option>
                        <option value=106>Математическая статистика</option>
                        <option value=36>Математический анализ</option>
                        <option value=63>Менеджмент</option>
                        <option value=119>Миксфайт</option>
                        <option value=27>Музыка</option>
                        <option value=129>Настольный теннис</option>
                        <option value=13>Начальная школа</option>
                        <option value=170>Начертательная геометрия</option>
                        <option value=14>Немецкий язык</option>
                        <option value=143>Норвежский язык</option>
                        <option value=11>Обществознание</option>
                        <option value=152>Пауэрлифтинг</option>
                        <option value=54>Персидский язык</option>
                        <option value=138>Пилатес</option>
                        <option value=127>Плавание</option>
                        <option value=18>Подготовка к школе</option>
                        <option value=56>Политология</option>
                        <option value=85>Польский язык</option>
                        <option value=32>Португальский язык</option>
                        <option value=44>Правоведение</option>
                        <option value=167>Программирование</option>
                        <option value=62>Психология</option>
                        <option value=165>Религиоведение</option>
                        <option value=26>Рисунок</option>
                        <option value=89>Риторика</option>
                        <option value=153>Роликовые коньки</option>
                        <option value=120>Рукопашный бой</option>
                        <option value=84>Румынский язык</option>
                        <option value=3>Русский язык</option>
                        <option value=24>Русский язык для иностранцев</option>
                        <option value=93>Саксофон</option>
                        <option value=116>Самбо</option>
                        <option value=117>Самооборона</option>
                        <option value=76>Санскрит</option>
                        <option value=79>Сербский язык</option>
                        <option value=147>Синтезатор</option>
                        <option value=131>Сквош</option>
                        <option value=52>Скрипка</option>
                        <option value=103>Скульптура</option>
                        <option value=135>Сноуборд</option>
                        <option value=51>Сольфеджио</option>
                        <option value=41>Сопромат</option>
                        <option value=55>Социология</option>
                        <option value=69>Спортивные танцы</option>
                        <option value=121>Стрельба</option>
                        <option value=140>Стретчинг</option>
                        <option value=68>Стрипластика</option>
                        <option value=122>Тайский бокс</option>
                        <option value=71>Танец живота</option>
                        <option value=57>Танцы</option>
                        <option value=34>Татарский язык</option>
                        <option value=40>Теоретическая механика</option>
                        <option value=39>Теория вероятностей</option>
                        <option value=96>Труба</option>
                        <option value=30>Турецкий язык</option>
                        <option value=123>Тхэквондо</option>
                        <option value=97>Ударные</option>
                        <option value=64>Украинский язык</option>
                        <option value=125>Ушу</option>
                        <option value=124>Фехтование</option>
                        <option value=132>Фигурное катание</option>
                        <option value=4>Физика</option>
                        <option value=139>Физическая культура</option>
                        <option value=46>Философия</option>
                        <option value=67>Финский язык</option>
                        <option value=126>Фитнес</option>
                        <option value=72>Флейта</option>
                        <option value=49>Фортепиано</option>
                        <option value=146>Фотография</option>
                        <option value=15>Французский язык</option>
                        <option value=104>Функциональный анализ</option>
                        <option value=5>Химия</option>
                        <option value=82>Хинди</option>
                        <option value=80>Хорватский язык</option>
                        <option value=60>Хореография</option>
                        <option value=141>Цигун</option>
                        <option value=29>Черчение</option>
                        <option value=19>Чешский язык</option>
                        <option value=58>Шахматы</option>
                        <option value=78>Шведский язык</option>
                        <option value=35>Экология</option>
                        <option value=6>Экономика</option>
                        <option value=59>Электротехника</option>
                        <option value=86>Эстонский язык</option>
                        <option value=164>Язык жестов</option>
                        <option value=101>Языкознание</option>
                        <option value=21>Японский язык</option>
                        <option value=1000>Мотоцикл</option>
                        <option value=1001>АКПП</option>
                        <option value=1002>МКПП</option>
                    </select>
                    <div style="padding: 0 0 10px;"></div>
                </td>
            </tr>
            <tr>
                <td align="right"><div style="margin-top: -17px;">E-mail:&nbsp;</div></td>
                <td valign="top" colspan="5">

                    <div class="search-box_white3">
                        <div>
                            <input type="text" name="mail" maxlength="49">
                        </div>
                    </div>

                </td>
            </tr>
            <tr></tr>
            <tr>
                <td valign="top" align="right"><div style="margin-top: 3px;">Цель занятий,<br>возраст/класс<br>ученика:&nbsp;</div></td>
                <td colspan=5 valign="top">

                    <div class="search-box_white4">
                        <div>
                            <textarea name="cel" cols="100" rows="8"></textarea>
                        </div>
                    </div>
                    <div style="padding: 0 0 10px;"></div>

                </td>
            </tr>
            <tr>
                <td align="right"><div style="margin-top: -8px;">Город:&nbsp;</div></td>
                <td class="select-list" valign="top" colspan="5">
                    <select name="id_gorod" class="postform">
                        <option value="0">Казань</option>
                        <option value=19>Агрыз</option>
                        <option value=12>Азнакаево</option>
                        <option value=4>Альметьевск</option>
                        <option value=17>Арск</option>
                        <option value=14>Бавлы</option>
                        <option value=25>Болгар</option>
                        <option value=8>Бугульма</option>
                        <option value=18>Буинск</option>
                        <option value=22>Васильево</option>
                        <option value=24>Высокая Гора</option>
                        <option value=6>Елабуга</option>
                        <option value=11>Заинск</option>
                        <option value=5>Зеленодольск</option>
                        <option value=23>Камские Поляны</option>
                        <option value=20>Кукмор</option>
                        <option value=26>Лаишево</option>
                        <option value=9>Лениногорск</option>
                        <option value=16>Мамадыш</option>
                        <option value=7>Менделеевск</option>
                        <option value=15>Мензелинск</option>
                        <option value=2>Набережные Челны</option>
                        <option value=3>Нижнекамск</option>
                        <option value=13>Нурлат</option>
                        <option value=27>Тетюши</option>
                        <option value=10>Чистополь</option>
                        <option value=0></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right"><div style="margin-top: -8px;">Район:&nbsp;</div></td>
                <td class="select-list" valign="top" colspan="5">
                    <select name="id_raion" class="postform">
                        <option value=0>Проживаю не в Казани</option>
                        <option value=2>Авиастроительный</option>
                        <option value=3>Вахитовский</option>
                        <option value=4>Кировский</option>
                        <option value=5>Московский</option>
                        <option value=6>Ново-Савиновский</option>
                        <option value=7>Приволжский</option>
                        <option value=8>Советский</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right"><div style="margin-top: -8px;">Метро:&nbsp;</div></td>
                <td class="select-list" valign="top" colspan="5">
                    <select name="id_metro" class="postform">
                        <option value=9>Авиастроительная</option>
                        <option value=2>Аметьево</option>
                        <option value=3>Горки</option>
                        <option value=11>Дубравная</option>
                        <option value=4>Козья слобода</option>
                        <option value=5>Кремлёвская</option>
                        <option value=6>Площадь Габдуллы Тукая</option>
                        <option value=7>Проспект Победы</option>
                        <option value=12>Северный вокзал</option>
                        <option value=8>Суконная слобода</option>
                        <option value=10>Яшьлек (Юность)</option>
                        <option value=0>Станция метро далеко</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right"><div style="margin-top: -8px;">Проведение занятий:&nbsp;</div></td>
                <td class="select-list" valign="top">
                    <select name="mesto" class="postform">
                        <option value="у ученика">У ученика дома</option>
                        <option value="у преподавателя">У преподавателя дома</option>
                        <option value="не важно">Не важно</option>
                    </select>
                    <div style="padding: 0 0 10px;"></div>
                </td>
            </tr>
            <tr>
                <td align="right"><div>Доп. информация:<br><i>Удобные дни,<br>время и район<br>проведения занятий</i>:&nbsp;</div></td>
                <td colspan=5 valign="top">

                    <div class="search-box_white4">
                        <div>
                            <textarea name="dopinfo" cols="100" rows="4"></textarea>
                        </div>
                    </div>

                    <input value=1500 type="hidden" name="pprice">
                    <input type="hidden" name="id_rep" size="40" value=3604>
                    <input value="90" type="hidden" name="utime">
                    <input value="1" type="hidden" name="oblast">
                </td>
            </tr>
        </table>
        <div class="form_share_but">
            <div id="form_share">Ввести дополнительную информацию</div>
        </div>
        <table style="font-size: 10pt; color: #292929;">
            <tr>
                <td width=150></td>
                <td>
                    <div style="width:100%; margin: 10px 0px 12px; font-size:10px;">Отправляя заявку, подтверждаю ознакомление и согласие с <a href="/catalog/term-of-use.php" target="_blank">Пользовательским Соглашением</a> полностью</div>
                    <input type="submit" value="Отправить" style="font-size: 12;" class="btn">
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </form>
</div>