@{
    Layout = "_BasicLayout";
    ViewBag.Title = "Авторизация";
    ViewBag.PageName = "Авторизация";
}
<head>
    <link rel="stylesheet" type="text/css" href="/css/signup.css" />
</head>
<form id="login">
	<h1>Вход</h1>
	<fieldset id="inputs">
		<input id="username" placeholder="Логин" autofocus="" required="" type="text">
		<input id="password" placeholder="Пароль" required="" type="password">
	</fieldset>
	<fieldset id="actions">
		<input id="submit" value="Войти" type="submit">
		<a href="">Забыли пароль?</a><a href="regis.html">Регистрация</a>
	</fieldset>
</form>