<div class="intro">
    <div class="container">
        <div class="intro_inner">
            <h1>Найди своего репетитора</h1>
            <h2> Огромная база репетиторов по любому предмету — от английского до высшей математики</h2>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="section_header">
            <h3 class="section_title">ЧЕТЫРЕ ШАГА К УСПЕХУ</h3>
        </div>

        <div class="step">
            <div class="step_img">
                <figure>
                    <img class="a" src="img/shag1.jpg" width="150" height="150" alt="">
                    <figcaption class="b">Выберите репетитора</figcaption>
                </figure>

                <figure>
                    <img class="a" src="img/shag2.jpg" width="150" height="150" alt="">
                    <figcaption class="b">Обсудите детали</figcaption>
                </figure>

                <figure>
                    <img class="a" src="img/shag3.jpg" width="150" height="150" alt="">
                    <figcaption class="b">Начните учиться</figcaption>
                </figure>

                <figure>
                    <img class="a" src="img/shag4.jpg" width="150" height="150" alt="">
                    <figcaption class="b">Получите результат</figcaption>
                </figure>
            </div>
        </div>

    </div>
</section>
<div class="rep">
    <h1 class="rep_title">ХОТИТЕ БЫТЬ РЕПЕТИТОРОМ?</h1>
    <h2 class="rep_overtitle">Станьте нашим репетитором, помогайте ученикам, приносите пользу миру. Сэкономьте время на поиске клиентов, работайте через безопасную сделку, повышайте свой рейтинг и зарабатывайте еще больше.</h2>
    <a class="btn" href="#">ПОДРОБНЕЕ</a>
</div>
<section class="section">
    <div class="container">
        <div class="onas">
            <div class="onas_item">
                <h1 class="oi">О НАС</h1>
                <ul class="oio">Редкий студент не испытывает потребности в помощи с учебой. Однако найти подходящего преподавателя, репетитора или курс никогда не было простым занятием.</ul><ul class="oio">
                    Наша миссия состоит в том, чтобы сделать поиск репетитора простым и эффективным. "Лого" является площадкой для следующих видов услуг:
                    <li>частное обучение</li>
                    <li>онлайн-обучение</li>
                    <li>групповые занятия</li>
                    <li>обучающие курсы</li>
                </ul>
            </div>
            <div class="onas_item">
                <img class="oioi" src="img/onas.jpg" width="100%" height="90%" alt="">
            </div>
        </div>
    </div>

</section>

<footer class="footer">
    <div class="conteiner">
        <div class="footer_logo">Контакты</div>
        <div class="footer_social">
            <a href="tel:+74951234567">+7 (495) 123-45-67</a>
            <a href="mailto:example@mail.ru">example@mail.ru</a>
            <a title="Telegram" href="tg://resolve?domain=nikname">Telegram</a>
        </div>

    </div>
</footer>
<script src="js/script.js"></script>