@{
    ViewData["Title"] = "Reviews";
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/reviews.css" />
</head>

<body>
    <div class="reviews">
        <h1 class="reviews_title">ЧТО СТУДЕНТЫ ГОВОРЯТ О НАС</h1>
        <h2 class="reviews_overtitile">Мы действительно стараемся сделать наш сервис удобным для своих клиентов, поэтому просим оставлять отзывы о нашей работе. Расскажите, что мы делаем хорошо, а что пока не совсем получается.</h2>
    </div>

    <div class="container_reviews">
        <img src="img/rewiews/bandmember.jpg" alt="Avatar" style="width:90px">
        <p><span>Иванов Иван</span>Отец Димы</p>
        <p>
            Оценка пять! Все наши репетиторы были настоящими
            профессионалами, а цена вполне доступная даже для того
            места, где мы проживаем. Мы брали преподавателей по
            химии и математике.
        </p>
    </div>
    <div class="container_reviews">
        <img src="img/rewiews/bandmember.jpg" alt="Avatar" style="width:90px">
        <p><span>Иванов Иван</span>Отец Димы</p>
        <p>
            Оценка пять! Все наши репетиторы были настоящими
            профессионалами, а цена вполне доступная даже для того
            места, где мы проживаем. Мы брали преподавателей по
            химии и математике.
        </p>
    </div>

    <footer class="footer">
        <div class="conteiner">
            <div class="footer_logo">Контакты</div>
            <div class="footer_social">
                <a href="tel:+74951234567">+7 (495) 123-45-67</a>
                <a href="mailto:example@mail.ru">example@mail.ru</a>
                <a title="Telegram" href="tg://resolve?domain=nikname">Telegram</a>
            </div>

        </div>
        </div>
    </footer>

</body>
