@{
    Layout = "_BasicLayout";
    ViewBag.Title = "Поиск";
    ViewBag.PageName = "Поиск";
}

<head>
    <link  rel="stylesheet" type="text/css" href="/css/search.css"/>
</head>

<div class="search">
    <h1 class="search_title">ПОИСК РЕПЕТИТОРА</h1>
    <h2 class="search_overtitile">Найти репетитора в Казани и других городах России - это легко. С помощью нашего сервиса вы сможете найти онлайн-репетитора или образовательный курс.</h2>
</div>

<section class="b">
    <div class="a">
        <a href=""><img src="/img/search/1.jpg" width="150" height="150" alt=""></a><p>математика</p>
    </div>
    <div class="a">
        <a href=""><img src="/img/search/2.jpg" width="150" height="150" alt=""></a><p>иностранные языки</p>
    </div>
    <div class="a">
        <a href=""><img src="/img/search/3.jpg" width="150" height="150" alt=""></a><p>русский язык</p>
    </div>
    <div class="a">
        <a href=""><img src="/img/search/4.jpg" width="150" height="150" alt=""></a><p>химия</p>
    </div>
    <div class="a">
        <a href=""><img src="/img/search/5.jpg" width="150" height="150" alt=""></a><p>физика</p>
    </div>
    <div class="a">
        <a href=""><img src="/img/search/6.jpg" width="150" height="150" alt=""></a><p>информатика</p>
    </div>
</section>

<footer class="footer">
    <div class="conteiner">
        <div class="footer_logo">Контакты</div>
        <div class="footer_social">
            <a href="tel:+74951234567">+7 (495) 123-45-67</a>
            <a href="mailto:example@mail.ru">example@mail.ru</a>
            <a title="Telegram" href="tg://resolve?domain=nikname">Telegram</a>
        </div>

    </div>
</footer>